body{
    margin: 0px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(200, 222, 240);
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container a{
    display: inline-block;
    width: 150px;
    height: 50px;
    border-radius: 15px;
    border: 1px solid black;
    background-color: rgb(215, 215, 216);
    text-decoration: none;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}