<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Success_page</title>
    <link rel="stylesheet" href="{{url_for('static', filename='success_page.css')}}">
</head>
<body>
    
    <div class="container">
        <h1>The payment process has been completed. Check your email to see the confirmation.</h1>
        <h2>If you don't receive a confirmation contact us!</h2>

        <a href="{{url_for('first_page')}}">
            Go to first page
        </a>
    </div>

</body>
</html>